@media only screen and (min-width: 768px) {
  .kard {
    width: 50rem;
    margin-left: 20%;
    margin-top: 7%;
    background: rgb(135, 135, 113);
  }
}

@media only screen and (min-width: 600px) {
  .kard {
    margin-left: 10%;
    margin-top: 7%;
    background: rgb(113, 129, 135);
  }
}

@media only screen and (min-width: 320px) {
  .kard {
    margin-left: 10%;
    margin-top: 7%;
    background: rgb(113, 129, 135);
  }
}
a {
  text-decoration: none;
  align-content: center;
}

.wrapper-main {
  width: 1000px;
  margin: 0 auto;
}
.signup {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .register {
    margin-left: 18%;
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 50rem;
  }
}

@media only screen and (min-width: 600px) {
  .register {
    margin: auto;
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 35rem;
  }
}

@media only screen and (min-width: 320px) {
  .register {
    margin: auto;
    margin-top: 2.5%;
    box-sizing: border-box;
    width: 35rem;
  }
}

h3 {
  color: gold;
}
