.naf {
  background-color: aliceblue;
}
@media only screen and (min-width: 1200px) {
  .kard {
    width: 50rem;
    margin-left: 20%;
    margin-top: 7%;
    background: rgb(239, 239, 229);
  }
  .register {
    visibility: hidden;
  }
  .Reg {
    visibility: visible;
  }
}

@media only screen and (min-width: 992px) {
  .naf {
    margin-top: 0.5%;
  }
  .kard {
    margin-left: 10%;
    margin-top: 7%;
    background: rgb(0, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  .kard {
    margin-left: 10%;
    margin-top: 7%;
    background: rgb(113, 129, 135);
  }
  .link {
    color: rgb(6, 6, 6);
  }
  .Reg {
    visibility: visible;
  }
}

@media only screen and (min-width: 600px) {
  .link {
    color: rgb(6, 6, 6);
  }
  .link {
    color: rgb(6, 6, 6);
  }
  .Reg {
    visibility: hidden;
  }
}

a {
  text-decoration: none;
  align-content: center;
}

.wrapper-main {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) {
  .link {
    color: rgb(6, 6, 6);
  }
  .Reg {
    visibility: hidden;
  }
}

h3 {
  color: rgb(33, 23, 218);
}
